@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap");
body {
	margin: 0;
    padding: 0;
    background: radial-gradient(rgb(0, 174, 255), cyan);
	font-family: "Montserrat", sans-serif;
    user-select: none;
    height: 100%;
}
.container {
    width: 40%;
	margin: 5% auto;
	display: grid;
	place-items: center;
    background: white;
    border-radius: 15px;
    padding: 2%;
}
.avatar img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
    border: 5px rgb(172, 172, 172) solid;
}
.name {
	font-weight: 900;
	font-size: 45px;
	color: rgb(99, 99, 99);
    margin-bottom: 5%;
}
.links {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.links .link{
    width: 50%;
    height: 50px;
    background: white;
    color: rgb(71, 71, 71);
    border-radius: 15px;
    margin: 15px;
    display: grid;
    place-items: center;
    border: 1px solid black;
    transition-duration: 0.2s;
    cursor: pointer;
    text-decoration: none;
}
.link:hover{
    background: blue;
    color: white;
    border: 1px solid blue;
}
@media screen and (max-width: 768px) {
    .container{
        width: 75%;
    }
}